.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background-color: $color-primary;
    a {
        display: block;
        color: $color-secondary;
        font-family: 'Arial';
        font-size: 1em;
        @include media-breakpoint-up (s) {
            font-size: 1.4em;
        }
        &:hover{
            animation: wiggle 1s ease-in-out infinite;
        }
    }

}
