.test {
    color: red;
    @include media-breakpoint-up (sm) {
        color: blue;
    }
    @include media-breakpoint-up (md) {
        color: green;
    }
    @include media-breakpoint-up (lg) {
        color: yellow;
    }
    @include media-breakpoint-up (xl) {
        color: purple;
    }
}
