//Layout des conteneurs de vignettes de menus
.carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    @include media-breakpoint-up (s) {
        margin: 20px auto 0 auto;
        width: 480px;
        flex-flow: row wrap;
        flex: 1 1 250px;
    }
    &__bloc {
        @include menu-box;
        overflow: hidden;
        height: 300px;
        width: 210px;
        margin: 15px;
    }
}

//contenu de vignette de menu (règles communes à toutes les vignettes)
.menu {
    &1,&2,&3,&4{
        text-align: center;
        height: 100%;
        transition: all 500ms ease-in-out;
        &:hover{
            @include menu-zoom;
        }
        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
        &__heading {
            margin-bottom: 10px;
            font-weight: normal;
        }
        &__body {
            font-family: 'Segoe Print';
            font-size: 1.4em;
        }
    }
}

//règles exclusives à la vignette du Menu1
.menu1 {
    background-color: nth($bg-color,1);
    &__link  {
        color: #3d1319;
    }
    &__heading {
        font-family: nth($ttl-font,1);
    }
    &__body {
        font-weight: bold;
    }
}

//règles exclusives à la vignette du Menu2
.menu2 {
    background-color: nth($bg-color,2);
    &__heading {
        font-family: nth($ttl-font,2);
        font-size: 0.75em;
        @include text-gradient2;
        }
    &__body {
        font-weight: bold;
        font-family: 'Times New Roman';
        color: #c67412;
        }
}

//règles exclusives à la vignette du Menu3
.menu3 {
    background-color: #f5f5f5;//couleur originale du menu: nth($bg-color,3);
    &__heading {
        font-family: nth($ttl-font,3);
        @include text-gradient3;
        font-size: 1.2em;
    }
    &__body {
        color: #1a91fb;
    }
}

//règles exclusives à la vignette du Menu4
.menu4 {
    background-color: nth($bg-color,4);
    &__heading {
        font-family: nth($ttl-font,4);
        @include text-gradient4;
        font-size: 1.2em;
    }
    &__body {
        color: #72bf56;
    }
}

//SECTION "PROCHAINEMENT"
.proch {
    @include main-text;
    text-align: center;
    font-family: 'Arial';
    font-size: 1.4em;
    margin: 20px auto 80px auto;
    padding: 10px 30px 10px 30px;
    width: 210px;
    border-radius: 10px;
    //Animation point de suspensions
    span {
        animation: suspension 2s ease-in-out infinite both;
    }
    span:nth-child(2) {
        animation-delay: 200ms;
    }
    span:nth-child(3) {
        animation-delay: 400ms;
    }
}
