.carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
        @include media-breakpoint-up (s) {
            margin: 20px auto 0 auto;
            width: 460px;
            flex-flow: row wrap;
            flex: 1 1 300px;
    }
    &__bloc {
        @include menu-box;
        overflow: hidden;
        height: 300px;
        width: 200px;
        margin: 15px;
    }
}

.menu {
    &1,&2,&3,&4{
        text-align: center;
        height: 100%;
        transition: all 500ms ease-in-out;
        &:hover{
            @include menu-zoom;
        }
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
        h3 {
            margin-bottom: 20px;
        }
    }
}

.menu1 {
    background-color: nth($bg-color,1);
    a {
        color: #3d1319;
    }
    h3 {
        font-family: nth($ttl-font,1);
        font-weight: normal;
    }
    p {
        font-family: 'Segoe Print';
        font-weight: bold;
        font-size: 1.4em;
    }
}

.menu2 {
    background-color: nth($bg-color,2);
    h3 {
        font-family: nth($ttl-font,2);
        font-weight: normal;
        font-size: 0.75em;
        background: -webkit-linear-gradient(top left,#e38913 25%,#8f5bfe 75%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    p {
        font-weight: bold;
        font-size: 1.4em;
        color: #c67412;
        }
}

.menu3 {
    background-color: nth($bg-color,3);
    h3 {
        font-family: nth($ttl-font,3);
        font-weight: normal;
        background: -webkit-linear-gradient(top left,#0022db,#1a91fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        font-family: 'Segoe Print';
        font-size: 1.4em;
        color: #1a91fb;
    }
}

.menu4 {
    background-color: nth($bg-color,4);
    h3 {
        font-family: nth($ttl-font,4);
        font-weight: normal;
        background: -webkit-linear-gradient(top left,#3d923a,#beff7f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        font-family: 'Segoe Print';
        font-size: 1.4em;
        color: #72bf56;
    }
}

.prochnmt {
    @include main-text;
    text-align: center;
    font-family: 'Arial';
    font-size: 1.4em;
    margin: 20px auto 70px auto;
    padding: 10px 30px 10px 30px;
    width: 210px;
    border-radius: 10px;
    span {
        animation: suspension 2s ease-in-out infinite both;
    }
    span:nth-child(2) {
        animation-delay: 200ms;
    }
    span:nth-child(3) {
        animation-delay: 400ms;
    }
}
