@mixin media-breakpoint-up ($size) {
    @media (min-width: map_get($breakpoints, $size)) {
        @content;
    }
}

@mixin main-text {
    background-color: $color-primary;
    color: $color-secondary;
}

@mixin menu-box {
    box-sizing: border-box;
    box-shadow: 0 0 10px #ccc;
}

@mixin menu-layout {
    @include menu-box;
    width: 75%;
    max-width: 900px;
    margin: 20px auto 100px auto;
    padding: 75px 0 100px 0;
    &__header{
        text-align: center;
        font-size: 2em;
    }
    h3{
        margin-top: 50px;
        text-align: center;
        padding: 20px;
        .ttl-leftdeco{}
        .ttl-rightdeco{}
        img {
            flex:1;
            display: none;
                @include media-breakpoint-up (s) {
                    display: inline;
                    vertical-align: middle;
                    height: 100%;
            //      width: 20%;
            //      max-width: 200px;
                }
                @include media-breakpoint-up (m) {
                    display: inline;
                    vertical-align: middle;
                    height: 100%;
             //     width: 40%;
             //     max-width: 200px;
                }
            }
    }
    table {
        margin: auto;
    }
    td{
        padding: 10px;
    }
}

@mixin menu-zoom {
    transform: scale(1.35);
    opacity: 0.5;
}
