//Media Queries
@mixin media-breakpoint-up ($size) {
    @media (min-width: map_get($breakpoints, $size)) {
        @content;
    }
}

//Tous les textes avec thème de couleur du site
@mixin main-text {
    background-color: $color-primary;
    color: $color-secondary;
}

//Effet conteneur général
@mixin menu-box {
    box-sizing: border-box;
    box-shadow: 0 0 10px #ccc;
}

//Animation Zoom+Fondu sur menu principal pour les vignettes de menus
@mixin menu-zoom {
    transform: scale(1.25);
    opacity: 0.5;
}

//Effets dégradés de textes sur les menus
@mixin text-gradient-settings {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin text-gradient2 {
    background: -webkit-linear-gradient(top left,#e38913 25%,#8f5bfe 75%);
    @include text-gradient-settings;
}
@mixin text-gradient3 {
    background: -webkit-linear-gradient(top left,#003ad9,#00aeff 70%);
    @include text-gradient-settings;
}
@mixin text-gradient4 {
    background: -webkit-linear-gradient(top left,#3d923a,#beff7f);
    @include text-gradient-settings;
}
