$color-primary: #579c87;
$color-secondary: #fdcb46;
$bg-color: #fcdfdb #fff5fe #f9f9f9 #fdfffd;
$ttl-font: 'Devonshire' 'CroissantOne' 'DancingScript' 'KaushanScript';
$fontsize: (
    s:1em,
    m:1.5em,
    l:3em,
    xl:10em);
$breakpoints: (
    s:576px,
    m:800px,
    l:992px,
    xl:1200px
);
